<div class="title-group">
    <h1 class="mat-h1">Edit Developer</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<div class="inner-wrapper">
    <form [formGroup]="developerForm" (ngSubmit)="updateDeveloperForm()" #resetDeveloperForm="ngForm" novalidate>
        <mat-card>
            <div class="controlers-wrapper">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Developer name" formControlName="name">
                    <mat-error *ngIf="handleError('name', 'required')">
                        You must provide a<strong>developer name</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Developer gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option [value]="item.value" *ngFor="let item of GenderArray">
                            {{item.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('gender', 'required')">
                        Gender is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="date" placeholder="Developer birth" formControlName="birth">
                    <mat-error *ngIf="handleError('birth', 'required')">
                        You must provide a<strong>developer birth</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Developer hobby</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" formControlName="hobby"></textarea>
                    <mat-error *ngIf="handleError('hobby', 'required')">
                        You must provide a<strong>developer hobby</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" formGroupName="level">
                    <mat-label>Developer level</mat-label>
                    <input type="text" matInput #filter (keyup)="loadLevels(filter.value)" formControlName="id" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLevel.bind(this)">
                        <mat-option *ngFor="let item of LevelData" [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
        </mat-card>

        <mat-card>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Update</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>